/* CSS Document */

@charset "utf-8";


.cl:after{visibility:hidden;display:block;font-size:0;content:" ";clear:both;height:0}.cl{zoom:1}

.wrap{width:640px;margin:0 auto;}

/* sildes css begin */
.control {width:925px;height:519px;display: block;position:absolute;top:0;left:0;overflow: hidden;}
.change li{width:925px;overflow: hidden;text-align:center}

/* 图片垂直居中,不是很准确 */
.change li .imgWrap{display: table-cell ;width:925px;height:519px;vertical-align: middle;cursor:pointer;*font-size: 500px;}
.change li img{width:925px;height:519px;vertical-align:middle; overflow:hidden}

/* 描述部分 */
.change li .textDesc{width:100%;height:100px;position:absolute;left:0;bottom:0;text-align:left;overflow: hidden;display:none;}
.change li .opacity{width:100%;height:100px;position:absolute;left:0;bottom:0;background:#000;filter:alpha(opacity=50);opacity:0.5;display:none;}
.change li .title{padding:10px 15px 0; color:#e6e6e6;font-size:14px;line-height:22px;}
.change li .title a{color:#e6e6e6;}
.change li .text{color:#b7b7b7;line-height:18px;padding:5px 15px;font-size:12px;}

/* 翻页按钮 */
.prev, .next{display:none;width:49px;height:49px;position:absolute;bottom:105px; color:#FFF;font-size:14px; z-index: 9;font-weight:bold; cursor: pointer;outline:none}
.prev span, .next span{display: none;}
.prev{left:0;background:url(../img/arrows_01.png) no-repeat;_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true,sizingMethod=crop,src="../img/arrows_01.png") ; _background:none}
.next{right:0;background:url(../img/arrows_02.png) no-repeat;_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true,sizingMethod=crop,src="../img/arrows_02.png") ; _background:none}

/* 分页 */
.pageClass{text-align:center;z-index: 9;position:absolute;top:50px;padding-top:10px;}
.pageClass a{display: inline-block; width:10px;height:10px;margin:0 3px;overflow:hidden; border:1px solid #bebebe;background:#bebebe ;border-radius:5px;outline:none}
.pageClass a span{display:none}
.pageClass a:hover,.pageClass a.cur{border:1px solid #be230a;background:#be230a }

/* 缩图部分 */
.thumbWrap{width:290px;height:519px;padding:0;position:absolute;right:0;top:0;overflow: hidden;}
.thumbWrap .thumbCont{width:100%;height:100%;position:relative;overflow: hidden;}
.thumbWrap ul{}
.thumbWrap ul li{width:290px;height:163px;padding:3px 0 9px 0;text-align:center;overflow: hidden;}
.thumbWrap ul li div{display: table-cell ;width:290px;height:163px;vertical-align: middle;cursor:pointer;*font-size: 79px;text-align:center;}

.thumbWrap ul li img {width:290px; height:163px;vertical-align:middle; overflow:hidden}

/*.thumbWrap ul li.cur{background:url(../img/curBg.gif) no-repeat}*/

/* 缩图按钮 */
.thumbPrev,.thumbNext{width:290px;height:50px;text-align:center;position:absolute;color:#000;z-index: 0; outline:none}
.thumbPrev span, .thumbNext span{display: none;}

.thumbPrev{left:0;top:0;background:url(../img/Yprev.png) no-repeat;_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true,sizingMethod=crop,src="../img/Yprev.png") ; _background:none;}
.thumbNext{left:0;bottom:0;background:url(../img/Ynext.png) no-repeat;_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true,sizingMethod=crop,src="../img/Ynext.png") ; _background:none;}
/*download  by www.sucaijiayuan.com*/
